*{
  margin: 0;
  padding: 0;
}
header{
  background-color: #5c9e4e;
  color: white;
}

#cantProducto{
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 100%;
}
.cartwidget{
  position: absolute;
  top: 20px;
  left: 35px;
  background-color: #99d88c;
  border-radius: 100%;
  padding: 0px 8px;
}
.cartProduct{
  border : #5c9e4e solid 3px;
}
.cartGrilla{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.stock{
  position: absolute;
  top: -20px;
  width: 60px;
  height: 60px;
}

.sinStock{
  background-color: #d34444;
  color: white;
  width: 150px;
  padding: 5px;
  margin: 0;
}

h6{
  margin: 0;
}

.stock .stockAbs p{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:0;
  padding: 0;
}

.price{
  height: 320px;
}
footer{
  background-color: #5c9e4e;
}

footer p { 
  margin: 0;
  padding: 10px;
  text-align: center;
}