*{
  margin: 0;
  padding: 0;
}

.nav_checkbox{
  grid-template-columns: 1fr 6fr;
}
header{
  background-color: #d43e3e;
}

#cantProducto{
  width: 40px;
  height: 40px;
  text-align: center;
  border-radius: 100%;
}

.logo{
  margin-right: 20px;
}

.cartwidget{
  position: absolute;
  top: 10px;
  left: 31px;
  background-color: #ec7e7e;
  border-radius: 100%;
  padding: 0px 8px;
}
.cartProduct{
  border : #5c9e4e solid 3px;
}
.cartGrilla{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.stock{
  position: absolute;
  top: -20px;
  width: 60px;
  height: 60px;
}
.textoChiquito{
  font-size: 12px;
  margin: 0;
  color: white;
}

.mensajeInfo{
  background-color: grey;
  border-radius: 10px;
  padding: 5px;
}
.borde{
  border-radius: 10px;
  background-color: #d34444;
  text-align: center;
  width:230px;
  height: 50px;
}
.btn-text-stock{
  font-size: 19px;
}
.sinStock{
  color: white;
  padding: 5px;
  margin: 0;
}

h6{
  margin: 0;
}

.stock .stockAbs p{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin:0;
  padding: 0;
}
.btn-pink{
  font-size:23px;
  padding:0px 20px;
  color: #fff;
  background-color: #d43e3e;
  border:none;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 10px;
  width:230px;
}
.btn-sinStock{
  font-size:23px;
  padding:0px 20px;
  color: #fff;
  background-color: #5f5858;
  border:none;
  justify-content: center;
  align-items: center;
  display: flex;
  border-radius: 10px;
  width:230px;
}
.btn-gradient {    
  width:40%;
  position: relative;
  display: inline-block;
  left:-20px;
  background: rgba(0, 0, 0, 0.15);
  border-top-right-radius: 60px;
  padding: 8px 24px 8px 16px;
  box-shadow: 2px 0px 0px 0px rgba(78, 72, 72, 0.4);
}

.btn-text{
  width:60%;
}

.price{
  height: 320px;
}
footer{
  background-color: #d43e3e;
}

footer p { 
  margin: 0;
  padding: 10px;
  text-align: center;
}